annotated-types
anyio
asttokens
click
colorama
comm
contourpy
cramjam
cycler
debugpy
decorator
et-xmlfile
executing
fastapi
fastparquet
fonttools
fsspec
h11
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
nltk
numpy
openpyxl
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure-eval
pyarrow
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
pyzmq
regex
scikit-learn
scipy
seaborn
six
sniffio
stack-data
starlette
textblob
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
uvicorn
wcwidth
